bat v%s - Manage battery charge limit
Repo:  github.com/pepa65/bat
Usage: bat <option>
  Options (every option except 's[tatus]' needs root privileges):
    [s[tatus]]       Display charge level, limit, health & persist status.
    l[imit] <int>    Set the charge limit to <int> percent.
    p[ersist]        Install and enable the persist systemd unit files.
    r[emove]         Remove the persist systemd unit files.
    h[elp]           Just display this help text.
    v[ersion]        Just display version information.
