[Unit]
Description=Persist the battery charge limit after %s
After=%s.target
StartLimitBurst=0

[Service]
Type=oneshot
ExecStart=%s -c 'echo %d >%s'
Restart=on-failure
RemainAfterExit=true

[Install]
WantedBy=%s.target
