bat {{.Tag}}  (github.com/pepa65/bat)
Usage:  bat [<option>]
  Options:
    s[tatus]         Display the charge level, limit & status (default).
    p[ersist]        Persist the currently set charge limit (privileged).
    c[lear]          Clear persistence of the charge limit (privileged).
    l[imit] <int>    Set the charge limit to <int> percent (privileged).
    h[elp]           Display only this help text.
    v[ersion]        Display only version information.
Reference:  wiki.archlinux.org/title/Laptop/ASUS#Battery_charge_threshold
