bat - Manage battery charge limit
Usage:  bat <option>
  Options:
    [s[tatus]]       Display charge level, limit & status and persist status.
    l[imit] <int>    Set the charge limit to <int> percent (privileged).
    p[ersist]        Install and enable the persist systemd units (privileged).
    r[emove]         Remove the persist systemd units (privileged).
    d[isable]        Disable the persist systemd units (privileged).
    h[elp]           Display only this help text.
    v[ersion]        Display only version information.
bat {{.Tag}} github.com/pepa65/bat
Reference: https://wiki.archlinux.org/title/Laptop/ASUS#Battery_charge_threshold
