bat {{.Tag}} (github.com/pepa65/bat)
Usage:  bat [<option>]
  Options:
    -s/--status (default)    Display the charge level, status and charge limit
    -p/--persist             Persist the currently set threshold (privileged)
    -c/--clear               Clear persistence of the charge limit (privileged)
    -l/--limit <pct>         Set charge limit to <pct> percent (privileged)
    -h/--help                Display only this help text
    -V/--version             Display only version information
Reference:  wiki.archlinux.org/title/Laptop/ASUS#Battery_charge_threshold
